{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="done" class="container-fluid bg-light">
  <div class="row d-flex align-items-center p-0 fill">
    <div class="col-sm-3 p-2 my-3"></div>
    <div class="col-sm-6 p-2 my-3 text-center">
      <img id="home-img-1" class="rounded mx-auto d-block" align="middle" src="{% static 'img/h/eti_logo.png' %}" width="35%">
      {% if perms.events.add_event %}
      {% if EventId %}
      <h2 class="pt-3">¡Felicitaciones!<h2>
          <h6 class="pb-3">El evento fue activado.
            <br>
            <br>
            Las inscripcones seran abiertas el {{ EventId.open_date }}</h6>
            <a href="{% url 'profile' %}"><button type="button" class="btn btn-success">Regresar</button></a>
          {% else %}
          <h2>¿Algo salió mal?</h2>
          <a href="contact"><button type="button" class="btn btn-warning" name="button">Contactanos</button></a>
          <a href="{% url 'profile' %}"><button type="button" class="btn btn-success">regresar</button></a>
          {% endif %}
          {% endif %}
    </div>
  </div>
</div>
{% endblock %}
