{% extends '00_ETI_base.html' %}
{% load static %}
{% block content %}
<div id="done" class="container-fluid bg-light fill">
  <div class="row d-flex center p-0">
    <div class="col-sm-3 p-2 my-3"></div>
    <div class="col-sm-6 p-2 my-3 text-center">
      <img id="home-img-1" class="rounded mx-auto d-block" align="middle" src="{% static 'img/h/eti_logo.png' %}" width="35%">
      <h1>¡Felicidades!<h1>
      <h3>Ya estás inscripto</h3>
      <a href="{% url 'profile' %}"><button type="button" class="btn btn-success p-2">Regresar</button></a>
    </div>
  </div>
</div>
{% endblock %}
