{% extends '00_ETI_base.html' %}
{% load static %}
{% block content %}
<div id="register" class="container-fluid bg-light">
  <div class="row d-flex center p-0">
    <div class="col-sm-3 p-2 my-3"></div>
    <div class="col-sm-6 p-2 my-3">
      <img id="home-img-1" class="rounded mx-auto d-block" align="middle" src="{% static 'img/h/eti_logo.png' %}" width="35%">
      <h1 class="pt-3 text-center">Editar Perfil</h1>
       {% if messages %}
        <div class="row col-lg-12 d-flex justify-content-center align-items-center p-2 m-2">
          {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
           <strong>{{ message }}</strong>
            </div>
           {% endfor %}
        </div>
      {% endif %}
      <a href="{% url 'edit_photo' %}"><button type="button" class="btn btn-info" name="button">Cambiar Imagen</button></a>
      <a href="{% url 'password_change' %}"><button type="button" class="btn btn-info" name="button">Cambiar constraseña</button></a>
      <form method="post" id="edit_profile_form" data-provinces-url="{% url 'ajax_load_provinces' %}" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{ form|crispy }}

        <div class="row col-lg-12 d-flex justify-content-center align-items-center">
          <script src='https://www.google.com/recaptcha/api.js'></script>
          <div class="col-md-6 d-flex justify-content-center">
            <div class="g-recaptcha" data-sitekey="{{ public_key }}"></div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
            <a href="{% url 'profile' %}"><button type="button" class="btn btn-secundary p-2 m-1">Regresar</button></a>
            <button type="submit" class="btn btn-success p-2 m-1" name="confirm">Confirmar</button>
          </div>
        </div>
      </form>
    </div>

    <script>
      $("#id_country").val({{ country }});
      $("#id_country").change(function() {
        var url = $("#edit_profile_form").attr("data-provinces-url");
        var countryId = $(this).val();
        $.ajax({
          url: url,
          data: {
            'country': countryId
          },
          success: function(result) {
            $("#id_province").html(result);
          }
        });
      });
      
      $("#id_province").change(function() {
        var url = $("#edit_profile_form").attr("data-cities-url");
        var provinceId = $(this).val();
        $.ajax({
          url: url,
          data: {
            'province': provinceId
          },
          success: function(data) {
            $("#id_city").html(data);
          }
        });
      });
    </script>
  </div>
</div>
{% endblock %}
