{% extends '00_ETI_base.html'%}
{% load static %}
{% block content %}

<div id="login" class="container-fluid bg-light justify-content-center align-items-center ">
  <div class="row d-flex center p-0 justify-content-center align-items-center">
      <div class="col-sm-5 p-2 my-3">
          <img id="home-img-1" class="rounded mx-auto d-block" align="middle" src="{% static 'img/h/eti_logo.png' %}" width="35%">
          <h2 class="text-dark">Ingresa tu CONTRASENA</h2>
          <form method="post" novalidate>
              {% load crispy_forms_tags %}
              {% csrf_token %}
              {{ form|crispy }}
              <a href="">
                  <button type="button" class="btn btn-light p-2">
                      Ingresar
                  </button>
              </a>
          </form>
          <a href="">
              <button type="button" class="btn btn-light p-2">
                  Olvidaste tu contrasena?  
              </button>
          </a>
      </div>
  </div>
</div>


{% endblock %}